<style TYPE="text/css">
p, li {
	font-size: 16px;
}
h1 {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  text-align: center;
}
h2 {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
a {
  font-size: 16px;
  color: red;
}
h1.thirdparties, h2.thirdparties, p.thirdparties {
	color: gray;
}
#container{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#content{
	width: 700px;
	text-align: left;
	margin:0 auto;
	padding: 50px;
	border-style: dotted;
	border-color: #c0c0c0;
}
</style>